/* Body */
body{
    background-color: whitesmoke; 
}

/* Navagation Bar */
.navbar{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white; 
    max-height:60px;
}

a.navbar-brand{
    margin-left: 30px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: lightseagreen;
}

/* Heading Styles */
h1{
    color: #0BADA6;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

h2{
    color: #0BADA6;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

h3{
    font-family: 'Times New Roman', Times, serif;
}

/* Creation of Box */
.box {
    margin-top: 70px; 
    margin-bottom: 70px;
    padding: 30px 20px 20px 30px; 
    background-color: white; 
  }

/* Sizing for images on summary and visualization pages */  
.indexpagesummaryimage{
    width:45%;
    height:45%;   
}

/* size for imagines used for visualization */
img{
    max-width:100%;
    max-height:50%; 
}

/* For image grids in visualization box */
.column {
    float: left;
    width: 50%;
    padding: 10px;
  }

/* Footer Style */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #595959;
    color: white;
    text-align: center;
    font-size: 15px;
    padding-top:10px;
  }

/* Comparison page word styling */
.comparison {
    color: #0BADA6;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* visualization page image sizing */
.visualization-pages {
    width:200%;
    height:50%; 
}

/* Navagation Bar if page is small*/
@media screen and (max-width: 480px){
.navbar-expand-lg {
    background-color: lightseagreen;
    padding: 0px;
    height: 60px;
}

.navbar div{
    background-color:white;
}

button{
    margin-right: 20px; 
}
}